* {
    box-sizing: border-box;
}

div {
    border: 3px solid rgb(0, 81, 255);
}

.parent {
    border-color: seagreen;
    display: flex;
    justify-content: flex-end;
}

.child {
    border-color: rebeccapurple;
    height: 100px;
    width: 100px;
}

